{
    email internal
}

https://{$SEARXNG_HOSTNAME:-localhost}/ {
    reverse_proxy searxng:8080
    encode gzip
    header {
        -Server
        -X-Powered-By
        -X-AspNet-Version
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
        Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob:; frame-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' https://*.searxng.org; img-src 'self' data: https://*.searxng.org; style-src 'self' 'unsafe-inline';"
    }
}
